<!DOCTYPE html>
<html>
    <div class="page">
    <head>
        <title> College Collage </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="./static/styles/style.css">

    </head>

    <script src="./static/js/script.js"></script>

    <body>
        <div class="title">
            <h1><img src="./static/img/logo.png" alt="College Collage" id ="logo" class="leftstick">College Collage<img src="./static/img/logo.png" alt="College Collage" id ="logo" class="rightstick"></h1>

        </div>
        
        
            <div class="collage" id="collage">
                
                    <figure class="collageitem" id="collageitem--1">
                        <!--<img src="./static/img/nyu.jpg" class="collageimg" alt="">-->
                        {% if fourth %}
                        <p>{{fourth}}</p>
                        {% endif %}
                    </figure>
             

                <figure class="collageitem" id="collageitem--2" >
                    <!--<img src="./static/img/nyu.jpg" class="collageimg" alt="">-->
                    {% if fifth %}
                    <p>{{fifth}}</p>
                    {% endif %}
                </figure>

                <figure class="collageitem" id="collageitem--3" >
                    <!--<img src="./static/img/nyu.jpg" class="collageimg" alt="">-->
                    {% if first %}
                    <p>{{first}}</p>
                    {% endif %}
                </figure>

                <figure class="collageitem" id="collageitem--4" >
                    {% if third%}
                    <p>{{third}}</p>
                    {% endif %}
                    <!--<img src="./static/img/nyu.jpg" class="collageimg" alt="">-->
                </figure>

                <figure class="collageitem" id="collageitem--5" >
                    <!--<img src="./static/img/nyu.jpg" class="collageimg" alt="">-->
                    {% if second %}
                    <p>{{second}}</p>
                    {% endif %}
                </figure>

                <!--
                <figure class="collageitem" id="collageitem--6">
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>
            -->

            </div>
        

    </body>
    </div> 
</html>
