<!DOCTYPE html>
<html>
    <div class="page">
    <head>
        <title> College Recommender </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="./static/styles/style.css">

    </head>

    <script src="./static/js/script.js"></script>

    <body>
        <div class="title">
            <h1>College Collage</h1>
        </div>
        
        <div class="collagecontainer">
            <div class="collage" id="collage">
                <figure class="collageitem" id="collageitem--1">
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>

                <figure class="collageitem" id="collageitem--2" >
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>

                <figure class="collageitem" id="collageitem--3" >
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>

                <figure class="collageitem" id="collageitem-4" >
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>

                <figure class="collageitem" id="collageitem--5" >
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>

                <figure class="collageitem" id="collageitem--6">
                    <img src="./static/img/nyu.jpg" class="collageimg" alt="">
                </figure>

            </div>
        </div>

    </body>
    </div> 
</html>