/** *{
    margin: 0;
    padding: 0;
}
**/


.page{
    margin: 0;
    padding: 0;
    min-height: 1000px;
    /**background-image: linear-gradient(#52307c, #7c5295);**/
    background: linear-gradient( #52307c, #bca0dc);
}

.card{
    border-radius: 16px;
    justify-content: space-evenly;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.carditem {
    flex-basis: calc(33.33% - 10px); /* Each item takes up 33.33% of the container's width minus 10px for margins */
    height: 200px;
    width: 200px;
    margin: 5px; /* Adjust the margin to your liking */
    background-color: #ccc;
    text-align: center;
}

.carditem:nth-child(4),
.carditem:nth-child(5) {
  margin-top: 10px; /* Add extra margin to bottom two items to separate them from top three items */
}

.carditem:nth-child(1),
.carditem:nth-child(2),
.carditem:nth-child(3) {
  flex-grow: 1; /* Make top three items grow to fill empty space */
}


html{
    scroll-behavior: smooth;
}

.title h1{
    font-size: 90px;

}